header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  padding: 5px 15px;

  background-color: #1976d2;
}
.city-auto:hover {
  cursor: pointer;
  background-color: #1976d2;
}

.toggle-btn {
  width: 50px;
  border-radius: 10px;
  border: 1px solid black;
}

.toggle-btn:hover {
  cursor: pointer;
}

.links a {
  text-decoration: none;
  height: 40px;
  padding: 20px;
  color: black;

  transition: 0.5s;
}
.links a:hover {
  background-color: #0056ac;
  color: white;
}
